root {
    --color1:
}

html {
    text-transform: capitalize;
}


.container-header {
    height: 100px;
    background-color: aquamarine;

}

.flex {
    display: flex;
    align-items: center;

}

.container-left {
    display: flex;
}

.logo {}

.container-right {
    justify-content: flex-end;
}


/* main */
main {}